.space {
    clear: both;
    padding:3px;
}
.div-space {
    padding: 10px;
}
.left-space {
    display: inline-block;
    padding: 3px;
    width: 15%;
    height: 100%;
    float: left;
}
.right-space {
    display: inline-block;
    padding: 3px;
    width: 15%;
    height: 100%;
    float: right;
}
.top-space {
    padding: 3px;
    width: 100%;
    height: 15px;
    float: top;
}
.center {
    text-align: center;
    font-size: 25px;
}
.under-line {
    text-decoration: underline;
}
.bottom {
    position: absolute;
    bottom: 2px;
    right:25px;
}
.tag-border {
    min-height: 150px !important;
    border: 2px;
    border-width: 4px;
    border-style: groove;
    border-radius: 20px;
}

a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
}
/* addition for app.css */
.links  a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}
.links > div {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
    /* min-height: 150px; */
    
}
.links > div > div {
    display: none;
    position: absolute;
    top:20px;
    border-width:3px;
    border-radius: 5px;
    border-style: groove; 
    text-align: left;
    left:-50px;
    z-index: 10;
    background-color: white;
}
.links > div > div > a {
    display: inline-block;
    width: auto;
    padding:20px;
}
.links > div:hover > div {
    display: block;
    overflow: auto;
}
.kanban {
    padding:10px;
    text-align: center;
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}
.kanban > div {
    width:120px;
    margin:20px;
    margin-left: 50px;
    display:inline-block;
    min-height: 120px;
    position: relative;
}
.kanban > div > a.link {
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    text-decoration: none;
    z-index:10;
    background-color: rgba(255, 255, 255, 0);
}
.kanban > div > a {
    position: static;
    bottom: 5px;
    text-align: center;
    font-size:15px;
    line-height: 30px;
}
.kanban > div > img {
    /* background-color: green; */
    height:80px;
    width:80px;
}
.kanban > a {
    display: block;
    padding-bottom: 20px;
    font-size:30px;
    text-align: left;
}
span.error {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}
.kanban > div > span.description {
    display: inline-block;
    /* line-height: 20px; */
    width: 20ch;
    height: 5ch;
    margin: 0;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
div.table {
    border-style:groove;    
    margin-left: 30px;
    position: absolute;
    padding:10px;
    /* text-align: center; */
    color: #636b6f;
    padding: 0 25px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
    width: 60%;
}
div.table > a.name {
    display: inline-block;
    width: 80%;
    line-height: 30px;
    font-size: 28px;
    /* text-align: center; */
    padding-left:20%;
}
div.table > a {
    display: inline-block;
    width: 100%;
    height: 20px;
}
div.table > a > b.tag {
    display: inline-block;
    width: 150px;
    /* text-align: center; */
}
div.table > a > b.context {
    display: inline-block;
    padding-left: 30%;
}
div.table > a.text {
    height:80px;
}
div.table > a.text > b.tag {
    height: 80px;
    position: relative;
    /* top: -65px; */
}
div.table > a.text > b.context {
    height: 80px;
    padding: 0;
}
.big {
    /* font-size: 20px !important; */
    position: relative;
    left: -300px;
}
.bottom-right {
    text-align: right;
}
a.del-button::after > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}
#comfirm {
    display:none;
    position: absolute;
    border-style: groove;
    border-radius:5px;
    background-color: rgb(255,255,255);
    height:75px;
    width:250px;
}
#comfirm:target {
    display:inline-block;
    z-index:10;
}

